{% extends 'base.html' %}
{% block content %}
<ul>
	<li>
	<a id="list"href="/addbooks">
		<b>
		ADD BOOKS
		</b>
	</a>
	</li>
	<br>
	<li>
	<a id="list"href="/searchstudent">
		<b>
		SEARCH STUDENTS
		</b>
	</a>
	</li>
	<br>
	<li>
	<a id="list"href="/viewadmins">
		<b>
		VIEW ADMINS
		</b>
	</a>
	</li>
	<br>
	<li>
	<a id="list"href="/issuesresolution">
		<b>
		SEND MAILS
		</b>
	</a>
	</li>
	<br>
	<li>
	<a id="list"href="/showissues">
		<b>
		ISSUED BOOKS
		</b>
	</a>
	</li>
	<br>
	<li>
	<a id="list"href="/issuereturn">
		<b>
		ISSUE/RETURN
		</b>
	</a>
	</li>
	<br>
	<li>
	<a id="list"href="/applications">
		<b>
		REQUESTS
		</b>
	</a>
	</li>
	<br>
	<li>
	<a id="list"href="/signup">
		<b>
		CREATE ADMINS
		</b>
	</a>
	</li>
</ul>
{% endblock %}
