{% extends 'base.html' %}
{% block content %}
<center>
	<h2>
		TELEPHONE NUMBERS
	</h2>
	<br>
	<table id="searchresult">
		<tr>
			<th>
				OFFICIAL
			</th>
			<th>
				NUMBER
			</th>
		</tr>
		<tr>
			<td>
				Librarian
			</td>
			<td>
				xxxxxxx
			</td>
		</tr>
		<tr>
			<td>
				Librarian office
			</td>
			<td>
				xxxxxxx
			</td>
		</tr>
		<tr>
			<td>
				Deputy librarian
			</td>
			<td>
				xxxxxxx
			</td>
		</tr>
		<tr>
			<td>
				Assisitant librarian
			</td>
			<td>
				xxxxxxx
			</td>
		</tr>
		<tr>
			<td>
				Enquiries
			</td>
			<td>
				xxxxxxx
			</td>
		</tr>
		<tr>
			<td>
				Library office
			</td>
			<td>
				xxxxxxx
			</td>
		</tr>
		<tr>
			<td>
				Security desk
			</td>
			<td>
				xxxxxxx
			</td>
		</tr>
	</table>
	<br>
	<table width="30%" align="center">
		<tr>
			<td style="border:0px;width:5%;height:5%;">
				<div class="tooltip">
					<img src="../static/add.jpg" alt="address" class="foot">
					<span class="tooltiptext">
						Vindhya Block, IIIT-Hyderabad<br>
					</span>
				</div>
			</td>
			<td style="border:0px;width:5%;height:5%;">
				<div class="tooltip">
					<img src="../static/phone.jpg" alt="phone" class="foot">
					<span class="two">
						Ph: xxxxxxxxxx; xxxxxxx
					</span>
				</div>
			</td>
			<td style="border:0px;width:5%;height:5%;">
				<div class="tooltip">
					<img src="../static/mail.png" alt="mail" class="foot">
					<span class="three">
						library@iiit.ac.in
					</span>
				</div>
			</td>
		</tr>
	</table>
	<br>
</center>
{% endblock %}
