{% extends 'base.html' %}
{% block content %}
<p>
The Library is the heart of the Academic and Research Programmes of the Institute. All students, faculty members and employees of the Institute are entitled to make use of the Library facilities on taking the library membership. The Library is having a rich collection of books, Reference Books , Theses and Dissertations and Back volumes of periodicals. The Library subscribes to various National / International Print Journals and popular magazines, and also subscribing e-Journals.
</p>
<br>
<b>
	WORKING HOURS
</b>
<p>
Weekdays:morning 9:00-00:00 (midnight)<br>
Sundays and Holidays:morning 10:00-17:00<br>
<br>
The Circulation counter for Issues and Return of Books from 10.00 am to 6.00 pm.<br>
Sundays and Public Holidays Books return and renewals are extended.<br>
The library remains closed on Sankranthi / Pongal, Republic Day, Ramzan, Independence Day, Dusshera and Christmas.<br>
The library is kept open upto 01.00 am during the end semester examinations. <br><br>
</p>
<b>
	GENERAL RULES
</b>
<p>

The ID card is essential for availing all kinds of library service<br>
Users should get the items duly issued at the Circulation Counter and collect them in person<br>
Personal books, printed books, printed materials, photocopy material are not allowed inside the library.<br>
Using WEB OPAC PC's for checking Emails and Personal use and mutilation of Books is strictly prohibited.<br>

</p>
<br>
<b>
	SERVICES
</b>
<p>

The Library follows Open Access system.<br>
Readers may approach the Reference Desk for any information or assistance regarding the Library Collections and Services.<br>
The reference collection includes all kinds of handbook, dictionaries, encyclopedias on electronics and communication engineering, computer science, bioinformatics, biotechnology, civil engineering and humanities.<br>
Circulation of books.<br>
Access to Online Journals (IEEE, ACM, ASCE, Science Direct and Springer Link).<br>
WEB OPAC is available locally within the campus to get the information about the availability of books, status, overdue, latest date of return etc. with Libsys<br>
Access to the Books, journals and other CD-ROM data bases.<br>
</p>
<br>
<b>
	CIRCULATION
</b>
<br><br>
<table id="t2">
	<tr>
		<th id="t21">
			Category
		</th>
		<th id="t21">
			Maximum books issued
		</th>
		<th id="t21">
			Duration
		</th>
	</tr>
	<tr>
		<td id="t21">
			Faculty
		</td>
		<td id="t21">
			15
		</td>
		<td id="t21">
			one semester
		</td>
	</tr>
	<tr>
		<td id="t21">
			Technical and supporting staff
		</td>
		<td id="t21">
			05
		</td>
		<td id="t21">
			one month
		</td>
	</tr>
	<tr>
		<td id="t21">
			Other staff
		</td>
		<td id="t21">
			05
		</td>
		<td id="t21">
			one month
		</td>
	</tr>
	<tr>
		<td id="t21">
			Research scholars
		</td>
		<td id="t21">
			05
		</td>
		<td id="t21">
			two months
		</td>
	</tr>
	<tr>
		<td id="t21">
			M.Tech/M.S.
		</td>
		<td id="t21">
			05
		</td>
		<td id="t21">
			14 days
		</td>
	</tr>
	<tr>
		<td id="t21">
			Undergraduate
		</td>
		<td id="t21">
			02
		</td>
		<td id="t21">
			14 days
		</td>
	</tr>
</table>
<br></br>
<b>
	OTHER FACILITIES
</b>
<p>
IIIT-H Library is fully connected with INTERNET access and WIRELESS facility is available in the Library. For the purpose of access of e-Journals, and various Educational Resources.<br>
Now you can reserve the book using of OPAC service which are in circulation. Please contact the library staff for more details.<br>
You are welcome to Request Books to our library which will help us to improve our library collection. <br>
he Library provides wide range of reference services as and when required by faculty members and students such as SDI, Citation search, Alerting, Content alert etc.<br>
he Xeroxing facility in the Library is available for students can take photocopy of the desired documents.<br>
</p>
{% endblock %}
